@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.layout { 
  display: grid;
  grid-template-columns: 5rem auto 1fr;
}

.rounded-icon {
  @apply transition-all ease-in-out duration-200 aspect-square object-cover;
  border-radius: 50%;
}

.rounded-icon:hover{ 
  border-radius: 1rem;
}

.sidebar-icon{ 
  @apply flex items-center justify-center w-full relative transition-all ease-in-out duration-200;

}

.sidebar-icon::before{ 
  @apply transition-all duration-200 ease-in-out;
  --content-height: 0rem;
  --content-width: 0rem;
  --offset: -0.4rem;
  content: '';
  display: block;

  height: var(--content-height);
  width: var(--content-width);
  background: black;
  border-radius: 10px;
  position: absolute;
  left: var(--offset);
}

.sidebar-icon:hover::before{ 
  --content-height: 1rem;
  --content-width: 0.5rem;
  --offset: -0.15rem;
}

.selected-icon::before{ 
  --content-height: 2rem;
  --content-width: 0.5rem;
  --offset: -0.15rem;
}